// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-deck{
    margin-bottom:20px;
}
.list_wrapper{
    justify-content: space-around;
    margin-top:30px;
}